<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>

<h1><%= @project.name %></h1>
<ul>
<% @project.entries.each do |e| %>
	<li><%= "#{e.hours} hours: #{e.minutes} minutes" %></li>

<%= link_to("Edit", edit_project_entry_path(@project, e)) %>
<%= link_to("Delete", project_entry_path(@project, e), method: :delete, data: {confirm: "Are you sure?"}) %>
<% end %>
</ul>

<%= link_to("Projects", projects_path) %>
<%= link_to("New Entry", new_project_entry_path(@project)) %>
