<%= flash_message %>

<h1><%= @project.name %></h1>
<ul>
<% @project.entries.each do |e| %>
	<li><%= display_entry(e) %></li>

<%= link_to("Edit", edit_project_entry_path(@project, e)) %>
<%= link_to("Delete", project_entry_path(@project, e), method: :delete, data: {confirm: "Are you sure?"}) %>
<% end %>
</ul>

<%= link_to("Projects", projects_path) %>
<%= link_to("New Entry", new_project_entry_path(@project)) %>
