<h1>Welcome to <%= @contact.name %>'s Page!</h1>
<p><%= @contact.address %></p>
<p><%= @contact.email_address %></p>
<p><%= @contact.phone_number %></p>
<form action="/favorites" method="POST">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="hidden" name="id" value="<%= @contact.id %>">
<button type="submit">Add to favorites!</button>
</form>
<br>
<a href="/contacts">Go back to the homepage</a>