<p><%= @product.title %></p>
<p><%= @product.description %></p>
<p><%= @product.amount %></p>
<p><%= @product.deadline %></p>
<br><br>
<%= link_to('Become a user', new_user_path) %>
<br>
<%= link_to('Home', '/') %>
<br><br>
<%= link_to("Destroy", user_product_path(@user, @product), method: :delete, data: { confirm: "Are you sure?"}) %>