<div class="sandwich-page" data-id="<%= @sandwich.id %>">
	<h2 class="js-sandwich" >The <%=@sandwich.name%> Sandwich</h2>

	<ul>
		<li>Bread type: <%= @sandwich.bread_type %></li>
		<br>
		<li class="js-ingredient-list">Ingredients:
		<% @ingredients.each do |ingredient| %>
			<%= ingredient.name %> 
		<% end %></li>
		<br>
		<li class="js-total-calories">Total Calories: <%=@sandwich.total_calories %></li>
	</ul>
</div>
<br><br>

<div class="available-ingredients">
	<h2>Available Ingredients:</h2>
	<ul>
		<% @all_ingredients.each do |ingredient| %>
			<button name="button" type="submit" data-id="<%= ingredient.id %>"  class="js-ingredient-button"><%= ingredient.name %>: <%= ingredient.calories %> calories</button>
		<% end %>
	</ul>
</div>